<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>{add API key here}</string>
	<key>GCM_SENDER_ID</key>
	<string>353895943756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.n8blanchard1.Second-Helping</string>
	<key>PROJECT_ID</key>
	<string>second-helping-b90da</string>
	<key>STORAGE_BUCKET</key>
	<string>second-helping-b90da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353895943756:ios:50146ea20c33584d02eee9</string>
	<key>DATABASE_URL</key>
	<string>https://second-helping-b90da-default-rtdb.firebaseio.com</string>
</dict>
</plist>
